</body>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <br />
      <br />
      <p>
        <strong>Ready2Run</strong> by <a href="http://github.com/knweber">Kris Weber</a>. The source code is available on
        <a href="https://github.com/knweber/ready2run">Github</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/knweber/ready2run">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
