<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <div class="section">
      <div class="container flex-container" style="width: 95%;">
      </div>
    </div>
  </body>
  <% include ./partials/footer %>
</html>
