<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <div class="container is-fluid">
      <div class="notification">
        This container is <strong>fluid</strong>: it will have a 24px gap on either side, on any viewport size.
      </div>
    </div>
    <h1>blahhhhh</h1>
  </body>
  <% include ./partials/_footer %>
</html>
