<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <div class="section">
      <div class="container flex-container" style="width: 95%;">
        Your latitute is:
        <div class="lat">
        </div>
        Your longitude is:
        <div class="lon">
        </div>
        Here are the current conditions:
        <div class="weather-conditions">
        </div>
      </div>
    </div>
  <% include ./partials/footer %>
</html>
